body {
  background-color: #6C64BB;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  display: block;
  background-size: cover;
  transform: translateZ(-1);
  z-index: -1;
  background-image: url("/static/images/bg.png"); }

.field {
  border-radius: 0;
  -webkit-appearance: none;
  color: #fff; }

.alert {
  background-color: #EB574F;
  border-radius: 2px;
  border: 0;
  font-weight: bold;
  text-align: left;
  font-family: 'Kadwa', serif;
  color: #fff;
  padding: 8vw;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2); }

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #6C64BB; }

.story-block {
  background-color: #FFFBFB;
  border-radius: 2px;
  font-weight: bold;
  text-align: left;
  font-family: 'Kadwa', serif;
  text-overflow: clip;
  word-wrap: break-word;
  color: #6C64BB;
  padding: 8vw;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2); }

.story-blurb {
  background-color: #fff;
  border-radius: 2px;
  font-weight: bold;
  font-family: 'Kadwa', serif;
  text-align: left;
  text-overflow: clip;
  word-wrap: break-word;
  color: #FBA100;
  width: 100%;
  padding: 8vw;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2); }

.story-title {
  background-color: #FFFBFB;
  border-radius: 2px;
  font-family: 'Patua One', cursive;
  font-weight: bold;
  font-size: 200%;
  text-transform: capitalize;
  color: #231089;
  text-align: center;
  padding: 20px;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2); }

.page-title {
  padding-top: 100px;
  font-family: 'Patua One', cursive;
  color: #fff;
  text-align: center;
  font-size: 64px;
  text-transform: capitalize;
  text-shadow: 0px 6px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2); }

.story-author {
  background-color: #FFFBFB;
  border-radius: 2px;
  font-weight: bold;
  font-family: 'Kadwa', serif;
  text-align: right;
  color: green;
  padding: 8vw;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2); }

.story-background {
  margin: 10px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 4px solid #fff;
  -webkit-box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2); }

#navbar-brand-format {
  font-family: 'Patua One', cursive; }

.btn {
  color: #fff;
  background-color: #FBA100;
  border: 0px;
  border-radius: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2);
  font-size: 12pt;
  font-family: 'Patua One', cursive; }

p {
  text-align: center; }

#newstory {
  font-size: 32px;
  width: 10em; }

.col-form-label {
  font-family: 'Patua One', cursive;
  font-size: 20px;
  color: #fff; }

.textinput {
  border-radius: 20px;
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  border: 0; }

.textarea {
  border-radius: 20px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.4); }

.container {
  padding-left: 0;
  padding-right: 0; }

/*# sourceMappingURL=project.css.map */
