{% extends "base.html" %}

{%block content%}
<h1 class='page-title'> Featured Stories. </h1>

<div>
    {% if story_list %}
        {% for story in story_list %}
            <div class="story-background">
                <a href="{%url 'stories:displaystory' %}?id={{story.id}}"><h2 class='story-title'> {{ story.story_name }} </h2></a>
                <p class='story-blurb'> {{ story.story_blurb }}</p>
            	<p class='story-author'> Created by, <a href="{% url 'users:detail' story.user_creator.username  %}">{{ story.user_creator }}.</a> </p>
            </div>
        {% endfor %}
    {% else %}
        <p class='story-block'>no stories available</p>
    {% endif %}
</div>


{%endblock%}
