{% extends "base.html" %}

{%block content%}
<h1 class='page-title'> Featured Stories. </h1>

<div class="container">
    <div class='story-background'>
        {% if story_list %}
            {% for story in story_list %}
                <p class='story-title'>{{ story.story_name }}</h2>
                <p class='story-blurb'> {{ story.story_blurb }}</p>

                {% for block in view.block_list %}
                    {%if block.story == story %}
                        <p class='story-block'> {{ block.body_text }}</p>
                    {% endif %}
                {% endfor %}
            	<p class='story-author'> Created by, {{ story.user_creator }}.</p>
            {% endfor %}
        {% else %}
            <p class='story-block'>no stories available</p>
        {% endif %}
    </div>
</div>


{%endblock%}
