{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1 class='page-title'>{{ view.title }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'stories:addblock'%}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="story-background">
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn"> Add Block </button>
            <button type="button" onclick="history.go(-1)" class="btn"> Cancel </button>
          </div>
        </div>
    </div>
  </form>

{% endblock %}
