{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1 class='page-title'>{{ view.title }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'stories:addblock'%}?id={{view.id}}">
    {% csrf_token %}
        {% if view.s.user_creator == request.user %}
            <div class="story-background">
                {{ form|crispy }}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn"> Add Block </button>
                        <button type="button" onclick="history.go(-1)" class="btn"> Cancel </button>
                    </div>
                </div>
            </div>
        {% endif %}
  </form>

{% endblock %}
