{% extends "base.html" %}
{% load static %}

{% block title %} {{ object.username }} {% endblock %}

{% block content %}
<h1 class='page-title'>{{ object.username }}</h1>

<div class='story-background'>
    {% if object.name %}
        <p class='story-block'> {{ object.name }} </p>
    {% endif %}

    {% if object == request.user %}
    <!-- Action buttons -->
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
                 <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
                <!-- Your Stuff: Custom user template urls -->
            </div>
        </div>
    {% endif %}
</div>

<div class='story-background'>
    <h2 class='page-title'>My Stories</h2>

    {%if view.story_list %}
    <p> {{view.title}} </p>
        {%for story in view.story_list %}
            <h2 class='story-title'> {{ story.story_name }} </h2>
            <p class='story-blurb'> {{ story.story_blurb }} </p>

            {% for block in view.block_list %}
                {%if block.story == story %}
                    <p class='story-block'> {{ block.body_text }}</p>
                {% endif %}
            {% endfor %}

            <a class="btn btn-primary" href="{% url 'stories:addblock' %}" role="button">Add</a>
        {%endfor%}
    {%else%}
        <p class='story-block'> You have nothing to show.</p>
    {%endif%}
</div>
<!-- End Action buttons -->
{% endblock content %}
