{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1>{{ user.username }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Update</button>
      </div>
    </div>
  </form>

  {% if story_list %}
    {% for story in story_list %}
      <h2>{{ story.story_name }}</h2>
  	<p> {{ story.story_blurb }}</p>
  	<p> Created by, {{ story.user_creator }}.</p>
    {% endfor %}
  {% else %}
    <p>no stories available</p>
  {% endif %}

{% endblock %}
